.field-value {
  width: 100%;
}
.field {
  float: left;
  width: 20%;
}
.value {
  width: 80%;
}
.button-panel {
  margin-top: 20px;
  margin-left: 10px;
  padding-left: 0px;
  list-style: none;
}
.button-panel li {
  margin-right: 10px;
  float: left;
}
